#include <zephyr/dt-bindings/gpio/st-morpho-header.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>

&dma1 { status = "okay"; };
&dma2 { status = "okay"; };
&spi1 {
    dmas = <&dma2 0 3 (STM32_DMA_PERIPH_RX | STM32_DMA_PRIORITY_HIGH) STM32_DMA_FIFO_1_4>,
           <&dma2 3 3 (STM32_DMA_PERIPH_TX | STM32_DMA_PRIORITY_HIGH) STM32_DMA_FIFO_1_4>;
    dma-names = "rx", "tx";
    sdhc0: sdhc@0 {
        compatible = "zephyr,sdhc-spi-slot";
        reg = <0>;
        status = "okay";
        spi-max-frequency = <10000000>;
        /* 3 (0/2) RX 3 (3/5) TX */
        mmc {
            compatible = "zephyr,sdmmc-disk";
            disk-name = "SD";
            status = "okay";
        };
    };
};
/ {
    chosen {
        zephyr,display = &ssd1306;
    };
};

&i2c1 {
    ssd1306: ssd1306@3c {
        compatible = "solomon,ssd1306";
        reg = <0x3c>;
        width = <128>;
        height = <64>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <63>;
        segment-remap;
        com-invdir;
        prechargep = <0x22>;
    };
};
&i2c3 { status = "disabled"; };
&plli2s {
    div-m = <8>;
    mul-n = <271>;
    div-r = <2>;
    clocks = <&clk_hse>;
    status = "okay";
};

&i2s3 { 
    pinctrl-0 = <&i2s3_ck_pb3 &i2s3_sd_pb5 &i2s3_ws_pa4>;
    clocks = <&rcc STM32_CLOCK(APB1, 15)>,
        <&rcc STM32_SRC_PLLI2S_R I2S_SEL(0)>;
    pinctrl-names = "default";
    status = "okay"; 
};
/ {
    buttons {
        compatible = "gpio-keys";
        select_pin: select_pin {
            gpios = <&st_morpho_header ST_MORPHO_L_3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
            label = "Select";
            zephyr,code = <INPUT_KEY_0>;
        };
        scroll_pin: scroll_pin {
            gpios = <&st_morpho_header ST_MORPHO_L_1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
            label = "Scroll";
            zephyr,code = <INPUT_KEY_1>;
        };
    };
    longpress {
        compatible = "zephyr,input-longpress";
        input-codes = <INPUT_KEY_0>, <INPUT_KEY_1>;
        short-codes = <INPUT_KEY_A>, <INPUT_KEY_B>;
        long-codes = <INPUT_KEY_X>, <INPUT_KEY_Y>;
        long-delay-ms = <3000>;
    };
};
